
<% @products.each do |product| %>

  <h1><%= product.id %>: <%= product.name %></h1>
<div id="body-<%= product.id %>">a<%#binding.pry%><%= truncate product.description %></div>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>
 


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    let id = $(this).data("id");
    let div 
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      let div = data
      $.get("/products/" + id + "/inventory", function(inventory) {
      // Replace text of body-id div
      console.log(inventory)
      if (inventory === "true") {
          div = div + " Available"
          console.log(div)
      } else if (inventory === "false") {
          div = div + " Sold Out"
      }
      $("#body-" + id).text(div);
    });
      
    });   
  });
});
</script>