
<% @products.each do |product| %>
  <%= product.name %>
  <div id="description-<%= product.id %>"><%= truncate product.description %></div>
  <div id="inventory-<%= product.id %>"></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<%end%><br>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of description-id div
      console.log("description", data)
      $("#description-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      // Replace text of inventory-id div
      console.log("inventory", data)
       if(data == "true") {
         $("#inventory-" + id).text("Inventory: Available")
       } else {
         $("#inventory-" + id).text("Inventory: Sold Out")
       }
     });
  });
});
</script>